.category-box {
  @include box;
}

.category-box h2 {
  margin-top: 1rem;
}

.category-completion {
  margin: 1rem;
}

.category-misses {
  margin-bottom: 0;
}

.question-btn {
  @include buttons;
  font-size: 14px;
  color: $fireQuestion;
  width: 60%;
  &:hover{
    color:$activeFireQuestion;
  }

}

.finish-category-summary span {
  margin-bottom: 5em;
}

.review {
  margin: 0 1em;
}

.category-finish {
  margin-bottom: 4em
}

.refresh-category {
  @include buttons;
  color: $fireQuestion;
  font-size: 14px;
  width: 60%;
  &:hover{
    color:$activeFireQuestion;
  }
}
