.category-box {
  @include box;
  align-items: center;
  display: flex;
  margin: 1rem auto;
}

.category-box h2 {
  width: 30%;
}

.question-btn {
  @include buttons;
  color: $fireQuestion;
  font-size: 14px;
  width: 60%;
  &:hover{
    color: $activeFireQuestion;
  }
}

.finish-category-summary span {
  margin-bottom: 5em;
}

.review {
  display: flex;
}

.refresh-category {
  @include buttons;
  color: $fireQuestion;
  font-size: 14px;
  width: 60%;
  &:hover{
    color: $activeFireQuestion;
  }
}