.category-box {
  @include box;
}

.category-box h2 {
  margin-top: 1rem;
}

.category-completion {
  margin: 1rem;
}

.category-misses {
  margin-bottom: 0;
}

.question-btn {
  @include buttons;
}

.review {
  margin: 0 1em;
}
