.directions-overlay {
  @include overlay;
}

.directions-box {
  @include popup;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directions-box p {
  margin: .8em .8em 0 .8em;
}

.directions-box span {
  display: inline;
  font-size: 10px;
}

.direction-close {
  @include buttons;
  position: relative;
  width: 80%;
  left: 10%;
}