.directions-overlay {
  @include overlay;
}

.directions-box {
  @include popup;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directions-content {
  margin: 1em;
}

.direction-close {
  @include buttons;
  position: relative;
  width: 80%;
  left: 10%;
}