.feedback-overlay {
  @include overlay;
}

.feedback-box {
  @include popup;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-head {
  font-size: 30px;
  font-weight: 700;
  margin: 1em 0 1.5em 0;
}

.correct-feedback {
  color: $correct;
}

.incorrect-feedback {
  color: $incorrect;
}

.sub-feedback {
  font-size: 16px;
  margin: 1em 10% 0 10%;
}

.learn-more {
  display: block;
  font-size: 22px;
}

a {
  @include link;
}

.next-btn {
  @include buttons;
  font-size: 14px;
  left: 10%;
  margin-bottom: 2em;
  position: relative;
  width: 80%;
}