.header {}

.title {
  font-size: 4em;
  margin: 1rem 0 0 0;
}

.subtitle {
  margin: 0 0 2rem 0;
  font-size: 1em;
}

.direction-btn {
  @include buttons;
  border: 1px solid $lighttext;
  left: 88%;
  position: absolute;
  top: 2em;
  width: 5em;
}