.title {
  font-size: 4em;
  margin: 1rem 0 0 0;
  letter-spacing: 2px;
}

.subtitle {
  color: $shadow;
  font-size: 1em;
  margin: 0 0 2rem 0;
}

.direction-btn {
  @include buttons;
  border: 1px solid $lighttext;
  font-size: 14px;
  left: 86%;
  letter-spacing: 1px;
  position: absolute;
  top: 2em;
  width: 5em;
}

@media screen and (max-width: 510px) {
  .direction-btn {
    font-size: 12px;
    padding: 0;
    left: 86%;
    width: 3em;
    height: 3em;
  }
}