//Color scheme
$backdrop: hsla(278, 18%, 64%, 1);
$purpwhite: hsla(278, 3%, 92%, 1);

//Used for various buttons
@mixin buttons {
  border: 0;
  border-radius: 5px;
  color: hsla(360, 100%, 100%, 1);
  font-weight: 800;
  height: 30px;
  outline: none;
  &:focus {
    background-color: hsla(243, 89%, 39%, 1);
  }
  &:hover {
    background-color: hsla(243, 89%, 39%, 1);
    cursor: pointer;
  }
}

//Used for boxes present on screen
@mixin box {
  border: solid white 2px;
  border-radius: 10px;
}

//Used for various popup boxes
@mixin popup {
  border: 1px solid black;
  border-radius: 10px;

}

//Used for popups to obscure background
@mixin overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}