.question-overlay {
  @include overlay;
}

.question-content {
  @include popup;
}

.question {
  font-size: 18px;
  margin: 1em;
}

.answers {
  left: 15%;
  position: relative;
  width: 70%;
}

.answer {
  @include buttons;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .question-content {
    width: 80%;
    left: 10%;
    height: 60%;
  }
}