$active: hsla(278, 14%, 53%, 1);
$activeFireQuestion: hsla(294, 53%, 32%, 1);
$backdrop: hsla(278, 18%, 64%, 1);
$catbox: hsla(277, 16%, 55%, .6);
$correct: hsla(116, 24%, 56%, 1);
$fireQuestion: hsla(294, 41%, 29%, 1);
$incorrect: hsla(346, 58%, 44%, 1);
$lighttext: hsla(278, 3%, 92%, 1);
$link: hsla(202, 70%, 70%, 1);
$shadow: hsla(300, 2%, 84%, 1);